{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body class="bg-indigo-500">
    <section class="grid justify-center mt-[170px]">
      <h1 class="text-2xl text-white">Django+Tailwindcss</h1>
      <iframe
        class="lg:w-[560px] lg:h-[315px]"
        src="https://www.youtube.com/embed/Td21l-gY3M0?si=eKHuMBb5YV5kdID7&amp;controls=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <a href="about/" class="mt-4 bg-red-500 hover:bg-red-700 text-white flex justify-center p-4 rounded-lg">About</a>
      <div class="mt-4 flex justify-center">
        <div class="g-ytsubscribe" data-channelid="UCRPH_MP4WE2WeKiwd4f4EAQ" data-layout="default" data-count="default"></div>
      </div>
    </section>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="{% static 'script/script.js' %}"></script>
  </body>
</html>
